/*Bodies*/
body{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    src: url(https://fonts.gstatic.com/s/merriweather/v22/u-4n0qyriQwlOrhSvowK_l52_wFZWMf6.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    margin: 0px;
    padding: 0px;
}

header{
    background-image: linear-gradient(45deg,#2e7d32,#ffa000);
    padding: 10px;
}
ul{
    margin:0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
li{
    display: inline-block ;
    margin-right: 20px;
}
a{
    margin: 0px;
    padding: 0px;
    color: white;
}
a:hover{
    font-size: larger;
}
h1#title{
 color: white;
 margin:0px;
 margin-top: 10px;
 padding:0px;
}
/*Bottono*/
button#H{
    position: absolute;
    width: 200px;
    height: 200px;
    text-decoration: none;
    border: .5em solid rgba(0,0,0,0);
    top: 100px;
    right: 50px;
    border-radius: 100%;
    background-image: url("Immagini/tenor7.gif");
}
button#H:hover{
    position: absolute;
    width: 225px;
    height: 225px;
    text-decoration: none;
    border: .5em solid rgba(0,0,0,0);
    top: 100px;
    right:50px;
    border-radius: 100%;
    background-image: url("Immagini/tenor8.gif")
}
button#E{
    position: absolute;
    width: 200px;
    height: 200px;
    text-decoration: none;
    border: .5em solid rgba(0,0,0,0);
    top: 100px;
    left:50px;
    border-radius: 100%;
    background-image: url("Immagini/tenor5.gif");
}
button#E:hover{
    position: absolute;
    width: 225px;
    height: 225px;
    text-decoration: none;
    border: .5em solid rgba(0,0,0,0);
    top: 100px;
    right: 50px;
    border-radius: 100%;
    background-image: url("Immagini/tenor6.gif")
}
button#S{
    position: absolute;
    width: 200px;
    height: 200px;
    text-decoration: none;
    border: .5em solid rgba(0,0,0,0);
    top: 100px;
    left: 0px;
    border-radius: 100%;
    background-color: #76ff03;
}
button#F{
    position: absolute;
    width: 200px;
    height: 200px;
    text-decoration: none;
    border: .5em solid rgba(0,0,0,0);
    top: 100px;
    left: 230px;
    border-radius: 100%;
    background-color: #689f38;
}
button#N{
    position: absolute;
    width: 200px;
    height: 200px;
    text-decoration: none;
    border: .5em solid rgba(0,0,0,0);
    top: 100px;
    left: 460px;
    border-radius: 100%;
    background-color: #ffeb3b;
}
button#D{
    position: absolute;
    width: 200px;
    height: 200px;
    text-decoration: none;
    border: .5em solid rgba(0,0,0,0);
    top: 100px;
    left: 680px;
    border-radius: 100%;
    background-color: #ff3d00;
}
button#C{
    position: absolute;
    width: 200px;
    height: 200px;
    text-decoration: none;
    border: .5em solid rgba(0,0,0,0);
    top: 100px;
    left: 940px;
    border-radius: 100%;
    background-color: #7f0000;
}
button#Cr{
    position: absolute;
    width: 200px;
    height: 200px;
    text-decoration: none;
    border: .5em solid rgba(0,0,0,0);
    top: 100px;
    left: 1170px;
    border-radius: 100%;
    background-color: #d500f9;
}
button#S:hover{
    position: absolute;
    width: 225px;
    height: 225px;
    text-decoration: none;
    border: .5em solid rgba(0,0,0,0);
    top: 100px;
    left: 0px;
    border-radius: 100%;

}
button#F:hover{
    position: absolute;
    width: 225px;
    height: 225px;
    text-decoration: none;
    border: .5em solid rgba(0,0,0,0);
    top: 100px;
    left: 230px;
    border-radius: 100%;

}
button#N:hover{
    position: absolute;
    width: 225px;
    height: 230px;
    text-decoration: none;
    border: .5em solid rgba(0,0,0,0);
    top: 100px;
    left: 460px;
    border-radius: 100%;

}
button#D:hover{
    position: absolute;
    width: 225px;
    height: 225px;
    text-decoration: none;
    border: .5em solid rgba(0,0,0,0);
    top: 100px;
    left: 690px;
    border-radius: 100%;

}
button#C:hover{
    position: absolute;
    width: 225px;
    height: 225px;
    text-decoration: none;
    border: .5em solid rgba(0,0,0,0);
    top: 100px;
    left: 950px;
    border-radius: 100%;

}
button#Cr:hover{
    position: absolute;
    width: 225px;
    height: 225px;
    text-decoration: none;
    border: .5em solid rgba(0,0,0,0);
    top: 100px;
    left: 1150px;
    border-radius: 100%;
}
h2#info{
    position: absolute;
    top: 320px;
}
i#info{
    position: absolute;
    top: 380px;
    background-color: cornsilk;
    padding-right: 10px;
}
h3#soldi{
    padding-top: 30px;
}
img#img{
    padding-top: 10px;
    padding-left: 10px;
    width: 200px;
    border-radius: 25px;
}
button#Upgrade1{
    border-radius: 10px;
    font-size: 50px;
    position: absolute;
    top: 100px;
    left: 250px;
    width: 200px;
    background-image: url(https://previews.123rf.com/images/stillfx/stillfx1403/stillfx140300236/26901918-primo-piano-di-bamb%C3%B9-sfondo-legno.jpg);
}
button#Upgrade1:hover{
    border-radius: 10px;
    font-size: 65px;
    position: absolute;
    top: 100px;
    left: 250px;
    width: 250px;
    background-image: url(https://previews.123rf.com/images/stillfx/stillfx1403/stillfx140300236/26901918-primo-piano-di-bamb%C3%B9-sfondo-legno.jpg);
}
/*div#statistiche{
    background-image: url(https://besthqwallpapers.com/Uploads/30-10-2019/109904/thumb2-vertical-wooden-boards-4k-macro-brown-wooden-texture-wooden-lines.jpg);
}*/
h3#rank{
    padding-bottom: 0px;
    color: cornsilk;
}
h3#guadagno{
    padding: 0px;
    color: cornsilk;
}
h3#soldi{
    font-size: x-large;
    color: whitesmoke;
    padding-bottom: 0px;
    position: relative;
    text-align: center;
}
i#here{
    background-color: cornsilk;
    position: absolute;
    top : 200px;
    left: 225px;
}
div#gioco{
    background-image: url(https://besthqwallpapers.com/Uploads/30-10-2019/109904/thumb2-vertical-wooden-boards-4k-macro-brown-wooden-texture-wooden-lines.jpg);
}
input#mostra_cronometro{
    font-size: x-large;
    background-color: cornsilk;
    position: absolute;
    top: 100px;
    right: 0px;
}
h3#mancanti{
    padding: 0px;
    color: cornsilk;
}
h3#click{
    background-color: gray;
    padding: 0px;
    color: cornsilk;
}
button#Marco{
    font-size: x-large;
    background-repeat: no-repeat;
    background-image: url(Funzioni/ClickerGame/Alternative/Immagini/biscotti.jpg);
    border-radius: 20px;
    height: 100px;
    width: 1000px;
}
button#Uranio{
    font-size: x-large;
    background-repeat: no-repeat;
    background-image: url(Funzioni/ClickerGame/Alternative/Immagini/Uranio.jpg);
    border-radius: 20px;
    height: 100px;
    width: 1000px;
}
button#Fagioli{
    font-size: x-large;
    background-repeat: no-repeat;
    background-image: url(Funzioni/ClickerGame/Alternative/Immagini/Fagioli.jpg);
    border-radius: 20px;
    height: 100px;
    width: 1000px;
}
button#Formaggio{
    font-size: x-large;
    background-repeat: no-repeat;
    background-image: url(Funzioni/ClickerGame/Alternative/Immagini/Formaggio.jpg);
    border-radius: 20px;
    height: 100px;
    width: 1000px;
}
button#Prosciutto{
    font-size: x-large;
    background-repeat: no-repeat;
    background-image: url(Funzioni/ClickerGame/Alternative/Immagini/Prosciutto.jpg);
    border-radius: 20px;
    height: 100px;
    width: 1000px;
}
button#Peperoncino{
    font-size: x-large;
    background-repeat: no-repeat;
    background-image: url(Funzioni/ClickerGame/Alternative/Immagini/peperoncino.jpg);
    border-radius: 20px;
    height: 100px;
    width: 1000px;
}
button#Cloro{
    font-size: x-large;
    background-repeat: no-repeat;
    background-image: url(https://karteline.it/wp-content/uploads/2019/03/clorex-cloro-1219-100x100.jpg);
    border-radius: 20px;
    height: 100px;
    width: 1000px;
}
button#Erba{
    font-size: x-large;
    background-repeat: no-repeat;
    background-image: url(https://www.spaccioitalia.com/wp-content/uploads/2020/07/1kg-Semi-di-erba-da-giardino-di-Alta-Qualit-per-35mq--Crescita-rapida-e-resistente-prato-seminale-Eccezionale-grado-di-tolleranza-dacqua-100-Garanzia-soddisfatti-o-rimborsati-0-2-scaled-100x100.jpg);
    border-radius: 20px;
    height: 100px;
    width: 1000px;
}